{% extends 'base.html.twig' %}

{% block title %}DailyEntry{% endblock %}

{% block body %}
    <h1>DailyEntry</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ daily_entry.id }}</td>
            </tr>
            <tr>
                <th>SleepHours</th>
                <td>{{ daily_entry.sleepHours }}</td>
            </tr>
            <tr>
                <th>Energy</th>
                <td>{{ daily_entry.energy }}</td>
            </tr>
            <tr>
                <th>Stress</th>
                <td>{{ daily_entry.stress }}</td>
            </tr>
            <tr>
                <th>Motivation</th>
                <td>{{ daily_entry.motivation }}</td>
            </tr>
            <tr>
                <th>Mood</th>
                <td>{{ daily_entry.mood }}</td>
            </tr>
            <tr>
                <th>Score</th>
                <td>{{ daily_entry.score }}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{ daily_entry.state }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ daily_entry.message }}</td>
            </tr>
            <tr>
                <th>Advice</th>
                <td>{{ daily_entry.advice }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_daily_entry_index') }}">back to list</a>

    <a href="{{ path('app_daily_entry_edit', {'id': daily_entry.id}) }}">edit</a>

    {{ include('daily_entry/_delete_form.html.twig') }}
{% endblock %}
